.list {
    list-style: none;/*descarta estilo x defaul de las items de listas li*/
    margin: 0;/*retira los margenes*/
    padding: 0;/*retira espacio interno de border*/
}

/*Vista celular slide*/
.list--header {
    position: fixed;/*posicion fija Perfil Experiencia Contacto debajo del containner de la foto peque;a*/
    top: 4rem;/*posicionamos el contenedor 4rem abajo del inicio de la pantalla*/
    left: 0;/*posicionamos el contenedor hacia la izquierda*/
    width: 100%;/*redimencionamos toda la vista de navegador horizontal*/
    height: calc(100% - 4rem);/*asignamos un alto de 100% - 4rem del inicio del contenedor*/
    background-color: var(--secondary-theme-color);/*asignamos un color de contenedor*/
    /*background-color: var(--test);/*trabaja con definiciones en nav.css, variable --test*/
    transform: translateX(var(--traslate-list-header));/*traslada a una posicion base*/
    transition: transform 0.25s;
}

.list__link {
    position: relative;/*Relative para que los box que esten dentro se posiciones de acuerdo al padre
    se posiciona dentro de un box de position absolute*/
    color: var(--primary-text-color);/*asigna color blanco a los enlaces*/
    font-weight: 700;/*ancho del texto*/
    text-decoration: none;/*retira el formato de estilos de los items de listas li*/
    transition: color 0.25s;/*se demora 0.25 segundos en cambiar transicion*/
}

.list__link:hover {
    color: var(--primary-highlight-color);/*asigna color blanco a los enlaces*/
}

.list__link::before {
    content: '';/*asigna color blanco a los enlaces*/
    position: absolute;
    left: 0;/*posicion izquierda 0*/
    bottom: -0.125rem;/*linea en posicion baja -0*/
    width: 0;/*linea dibujada debajo 100%, linea a punto de dibujar 0*/
    height: 0.0625rem;
    background-color: var(--secondary-highlight-color);
}

.list__link:hover::before {
    width: 100%;/*se dibuja la linea despues de posicionar el cursor en menu*/
}

@media (min-width: 768px) {
    .list--header {
        position: static;/*posicion fija Perfil Experiencia Contacto debajo del containner de la foto peque;a*/
        background-color: transparent;
        width: auto;
        height: auto;
    }
}