.nav {
    /*background-color: yellow;/*ejemplo margin/padding*/
    /*border: 0.5rem solid red;/*ejemplo margin/padding*/
    /*padding: 1rem;/*genera un espacio interno alrededor de border*/
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.nav__logo {
    display: flex;/*Flexibiliza contenedor*/
    width: 40px;/*ancho de imagen peque;a*/
    height: 40px;/*alto de imagen peque;a*/
    border-radius: 50%;/*format imagen circular*/
}